/* add home page styles here */
#location {
    background-image: url('../assets/Forest.png');
    width: 575px; 
    height: 200px;
    background-repeat: no-repeat;
    background-size:contain; 
    background-position: center;
    padding: 15px;
}

.pictures {
    display:flex;
    flex-direction: row; 
}

#architecture {
    background-image: url('../assets/Hut.png');
    width: 575px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#known {
    background-image: url('../assets/Boulder.png');
    width: 575px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

h3 {
    font-family: fantasy;
    font-weight: bold;
    color: RGB(176, 196, 0); 
}

/* #location-section {
    background-color: RGB(82, 50, 19);
}

#architecture-section {
    background-color: RGB(82, 50, 19);

}

#known-section {
    background-color: RGB(82, 50, 19);

} */

#slogans {
    color: RGB(121, 90, 45); 
    font-family: cursive;
}
/*.bg {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
